<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html>
	<head>
		<title> Layout Testing </title>
	</head>
	<body>
		<div id="origin">

			<div>
				<table>
					<tr>
						<th rowspan="3"><img src="./images/TOHRU_Hand.png" height=80></th>
						<td><p> </p></td>
					</tr>
					<tr>
						<td valign="bottom"><span style="font-size: 30px">Trace Online Hand Raising Utility</span></td>
					</tr>
					<tr>
						<td><span id="MOTD" style="font-size: 20px; color: #0000ff">This is the Message of the Day!</span></td>
					</tr>
				</table>
			</div>
			<div id="controls">
				<p>
				<input id="comment" type="text" style="font-size: 16px" size=100 value="Add a comment (optional)" onclick="this.value=''">
				</p>
				<p>
					<button style="font-size: 16px" onclick="MainScreen.raise(\'S\');"><img src="./images/S_Icon.png" height=20>ame Topic</button>
					<button style="font-size: 16px" onclick="MainScreen.raise(\'N\');"><img src="./images/N_Icon.png" height=20>ew Topic</button>
					<button style="font-size: 16px" onclick="MainScreen.raise(\'A\');"><img src="./images/A_Icon.png" height=20>nswer to Question</button>
					<button style="font-size: 16px" onclick="MainScreen.raise(\'P\');"><img src="./images/P_Icon.png" height=20>ropose Resolution</button>
				</p>
				<p id="lowerbutton">
					<button onclick="MainScreen.down();">Lower Hand</button>
				</p>
				<p id="modsuggest">
					<button onclick="ModFunctions.suggest()">Add Name Manually</button>
					<input id="suggestionbox" type="text">
				</p>
			</div>
				<p>
					<span style="background-color: #cccccc">
					Current Speaker:  
					<span id="speaker">
						SPEAKER
					</span>
					</span>
				</p>
			<div id="modcontrols">
				MOD CONTROLS
			</div>
			<div id="theList">
				THE LIST
			</div>
			
			
			
			
			
			<p id="'asdf'">
				<img src="./images/Delete_Icon.png" height=20 onclick="ModFunctions.forceDown('name', 'id')">
				<img src="./images/S_Icon.png" height=20>
				<img src="./images/Totop_Icon.png" height=20 onclick="ModFunctions.toTop('name', 'id')">
				<span style="color: blue">
					<span style="font-weight: bold">
						'NAME'
					</span>
					  
					[
					'COMMENT'
					]
				</span>
			</p>
			
		</div>
	</body>
</html>