<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html>
	<head>
		<title> Layout Testing </title>
	</head>
	<body>
		<div id="origin">

			<div><table><tr><th rowspan="3"><img src="./images/TOHRU_Hand.png" height=80></th><td><p> </p></td></tr><tr><td valign="bottom"><span style="font-size: 30px">Trace Online Hand Raising Utility</span></td></tr><tr><td><span id="MOTD" style="font-size: 20px; color: #0000ff"></span></td></tr></table></div><div id="controls"></div><p><span style="background-color: #cccccc">Current Speaker:<span id="speaker"></span></span></p><div id="modcontrols"></div><div id="theList"></div>
			
			
			
			
			
			<p id="'asdf'">
				<img src="./images/Delete_Icon.png" height=20 onclick="ModFunctions.forceDown('name', 'id')">
				<img src="./images/S_Icon.png" height=20>
				<img src="./images/Totop_Icon.png" height=20 onclick="ModFunctions.toTop('name', 'id')">
				<span style="color: blue">
					<span style="font-weight: bold">
						'NAME'
					</span>
					  
					[
					'COMMENT'
					]
				</span>
			</p>
			
		</div>
	</body>
</html>